NODE_ENV=production
PORT=5000
APP_NAME=bepsi-api

DATABASE_URL=
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=
ADMIN_EMAILS=
CORS_ORIGIN=https://bepsi.click
CATALOG_ASSET_BASE_URL=https://cdn.bepsi.click

CLERK_WEBHOOK_SECRET=
ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=
