@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  margin: 0;
  background: #f8fafc;
  color: #0f172a;
}

.home-card-image-products {
  background-image: url("/home/home-trang-chu.png");
}

.home-card-image-recipes {
  background-image: url("/home/home-cong-thuc.png");
}
